@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

*{
    font-family: "Poppins", sans-serif;
}

.nav-button{
    padding: 1rem;
    padding-right:1.5rem;
    padding-left:1.5rem;
    font-size:large;
    font-weight:600;
    background-image: linear-gradient(rgb(56, 0, 145), rgb(35, 31, 36));
    transition-duration: 0.3s;
    height:fit-content;
    margin-left:0.1rem;
    margin-right:0.1rem;
    border-radius:0.8rem;
    z-index: 1;
}

.nav-button:hover{
    opacity:0.8;
    padding: 0.9rem;
    padding-right:1.2rem;
    padding-left:1.2rem;
}

#portfolio-shake{

    width:400px;
    height:auto;
    transition-duration:1s;
}

#portfolio-shake:hover{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    width:500px;
    z-index:0;
  }
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.photo-gallery{
    height: 400px;
    margin:10px;
    border-radius: 10px;
}

.photo-gallery:hover{
    border-width:7px;
    border-color:white;
}

.project-photo{

    width:600px;
    margin: 10px;
    border-radius:10px;
}


.project-container{

    display:inline-block;
    background-color:rgb(8 47 73);
    border-radius:1.5rem;
    border-width:0.5rem;
    transition-duration:0.3s;
    position: relative;
    white-space: normal;
    height: fit-content;
    margin: 20px;
}

.project-container:hover{

    opacity:0.5;
    border-width:1rem;
    padding:4px;
    max-height: none;
    height: fit-content;
}

.pop-up-text{
    margin:6px;
    bottom: 100%;
    text-align:center;
    visibility: hidden;
    opacity:0;
    transition-duration:0.3s;
    height: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width:600px;

}

.project-container:hover .pop-up-text{   
    visibility: visible;
    opacity: 1;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}